[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "==4.3.0"
setuptools = "==80.9.0"

[packages]
pytest-helm-charts = ">=1.1.2"
pytest = "==8.4.2"
pykube-ng = "==23.6.0"
pyyaml = "==6.0.3"
pytest-rerunfailures = "==16.1"
requests = "==2.32.5"
setuptools = "==80.9.0"
exceptiongroup = "*"
typing-extensions = "*"

[requires]
python_version = "3.12"
