[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "==3.3.3"
setuptools = "==67.8.0"

[packages]
pytest-helm-charts = ">=1.0.2"
pytest = "==7.4.0"
pykube-ng = "==22.9.0"
pyyaml = "==6.0"
pytest-rerunfailures = "==11.1.2"
requests = "==2.31.0"
setuptools = "==67.8.0"
exceptiongroup = "*"

[requires]
python_version = "3.9"
